/* === GREPOLIS WINDOW FALLBACK === */
#gm-gpwindow-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 99999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 64px;
}

.gm-gpwindow {
    position: absolute;
    width: 780px;
    height: 570px;
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: visible;
    background: transparent;
    z-index: 100000;
}

/* Left/right vertical borders */
.gpwindow-vert-left,
.gpwindow-vert-right {
    position: absolute;
    top: 44px;
    bottom: 17px;
    width: 16px;
    background-image: url(https://gpnl.innogamescdn.com/images/game/layout/vertical_tile.png);
    background-repeat: repeat-y;
}
.gpwindow-vert-left { left: -16px; background-position: -10px 0; }
.gpwindow-vert-right { right: -16px; background-position: -26px 0; }

/* Small top corners */
.gpwindow-corner-left,
.gpwindow-corner-right {
    position: absolute;
    top: 0;
    width: 16px;
    height: 17px;
    background-image: url(https://gpnl.innogamescdn.com/images/game/layout/gpwindow_corners.png);
    background-repeat: no-repeat;
}
.gpwindow-corner-left { left: -16px; background-position: left 0; }
.gpwindow-corner-right { right: -16px; background-position: right -17px; }

/* Tall top corners */
.gpwindow-corner-top-left,
.gpwindow-corner-top-right {
    position: absolute;
    top: 0;
    width: 16px;
    height: 44px;
    background-image: url(https://gpnl.innogamescdn.com/images/game/layout/gpwindow_corners.png);
    background-repeat: no-repeat;
}
.gpwindow-corner-top-left { left: -16px; background-position: left -34px; }
.gpwindow-corner-top-right { right: -16px; background-position: right -78px; }

/* Header bar */
.gpwindow-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 44px;
    background: url(https://gpnl.innogamescdn.com/images/game/layout/gpwindow_horizontal.png) 0 -17px repeat-x;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 12px;
}

.gpwindow-title {
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}

.gpwindow-close {
    cursor:pointer;
    width: 28px;
    height: 28px;
    background: transparent;
    color: #fff;
    border:none;
    font-size:18px;
}

/* Body */
.gpwindow-body {
    position: absolute;
    top: 44px;
    bottom: 17px;
    left: 0;
    right: 0;
    padding: 12px;
    color: white;
    overflow: auto;
}

/* Bottom padding */
.gpwindow-bottom-space {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 17px;
}

